version: '3.8'

services:
  db:
    image: postgres:13
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ../backend
    env_file:
      - .env
    volumes:
      - static_volume:/backend_static
      - media_volume:/app/media
      - ../data:/app/data:ro
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ../frontend
    volumes:
      - frontend_static:/app/result_build

  nginx:
    image: nginx:1.25.4-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../docs:/usr/share/nginx/html/api/docs:ro
      - static_volume:/django_static
      - media_volume:/media
      - frontend_static:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend

volumes:
  pg_data:
  static_volume:
  media_volume:
  frontend_static:
